.navbar{
    padding:0; 
    position: fixed;
    width: 100%;
    background-color: $dark-color;
    z-index: 55555555;
    .navbar-brand{
        font-size: 30px;
    }
    ul li a{
        font-size: 15px;
    }
}